<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunmo.dcs.infrastruction.repository.mybatis.UserAccountQueryMapper">
    <resultMap id="BaseResultMap" type="com.yunmo.dcs.domain.UserAccount">
    </resultMap>
</mapper>